meta(charset="UTF-8")
meta(name='robots', content='index, follow')
title
    | Yugen - Visual Marketing Solutions
link(rel='canonical', href='http://yugen.biz/')
meta(name='description', content=' Empresa de marketing audiovisual, enfocada en la producción de vídeos corporativos y gubernamentales.')
meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
meta(property='fb:app_id', content='249724915820836')
meta(property='og:image', content='https://s3.amazonaws.com/yugen.biz/img/sns-cover.jpg')
meta(property='og:site_name', content='Yugen - Visual Marketing Solutions')
meta(property='og:title', content='Yugen - Visual Marketing Solutions')
meta(property='og:description', content='Empresa de marketing audiovisual, enfocada en la producción de vídeos corporativos y gubernamentales.')
meta(property='og:type', content='website')
meta(property='og:url', content='http://yugen.biz/')
//- meta(property='og:image:type', content='image/png')
//- meta(property='og:image:width', content='295')
//- meta(property='og:image:height', content='224')
meta(property="og:image:alt" content="Yugen - Visual Marketing Solutions, Producción Audiovisual, Desarollo web, etc.")
meta(property='og:locale', content='es_MX')
meta(name='twitter:url', content='http://yugen.biz/')
meta(name='twitter:card', content='summary_large_image')
meta(name='twitter:image', content='https://s3.amazonaws.com/yugen.biz/img/sns-cover.jpg')
meta(name='twitter:description', content=' Empresa de marketing audiovisual, enfocada en la producción de vídeos corporativos y gubernamentales.')
meta(name='twitter:title', content=' Empresa de marketing audiovisual, enfocada en la producción de vídeos corporativos y gubernamentales.')
meta(name='theme-color', content='#292929')
link(rel="apple-touch-icon" sizes="180x180" href="./img/fav/apple-touch-icon.png")
link(rel="icon" type="image/png" sizes="32x32" href="./img/fav/favicon-32x32.png")
link(rel="icon" type="image/png" sizes="16x16" href="./img/fav/favicon-16x16.png")
link(rel="manifest" href="./img/fav/site.webmanifest")
link(rel="mask-icon" href="./img/fav/safari-pinned-tab.svg" color="#5bbad5")
meta(name="msapplication-TileColor" content="#da532c")
meta(name="google-site-verification" content="cxPyPrRkWSsGLX80swYOSpbzgcmjFSa6SeTGFcleYaE")
