.preloader#preloader
    .peeek-loading
        ul
            li
            li
            li
            li
            li
            li
            li
            li
            li
            li
