.Amenities {
    
    &-title {
        font-weight: 700;
    }
    &-container {
        @include medium-screen { 
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
    &-single {
        margin-bottom: $space-m;
        padding: $space-m;
        border: 1px solid #d9dadb;
        @include medium-screen { 
            flex-basis: 48%;
        }
    }
    &-icon {
        position: relative;
        top: 2px;
        color: colors-map($colors,green,secondary);
        padding-right: $space-xs;
    }
}