.Cover {
	position: relative;
	width: 100%;
	padding: $space-m 0;
	background: url("./img/cover-photo.jpg") no-repeat;
	background-size: cover;
	background-position: center;
	@include medium-screen {
		height: 50vh;
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: black;
		opacity: 0.5;
	}

	&-body {
		position: relative;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		color: white;
		text-align: center;
	}

	&-title {
		font-weight: 300;
		text-align: center;
	}

	.TopLine {
		margin-top: $space-s;
		margin-bottom: $space-s;
	}

	&-caption,
	span {
		font-weight: 700;
	}
}
