.CTA {
	position: relative;
	padding: $space-m 0;
	background: url('./img/cta.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
	color: white;
	@include large-screen { 
		padding: $space-xl 0;
	}
	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: black;
		opacity: .5;
	}
	&-body {
		position: relative;
	}
	&-text {
		margin: $space-s 0;
	}
	
}

