.Event {
    &-photo {
        flex-basis: 48%;
        order: 2;
    }
    &-description {
        margin-bottom: $space-m;
        text-align: center;
        @include large-screen { 
            flex-basis: 50%;
            order: 2;
        }
    }
    &-info {
        margin-bottom: $space-s;
        @include large-screen { 
            margin: $space-m 0;
        }
    }
}