.MultiTimeTable {
    &-container {
        overflow-x: auto;
    @include medium-screen { 
        display: flex;
        justify-content: center;
    }
    }
    
    &-content {
        // minimo ancho que necesito para que mis datos se vean bien
        position: relative;
        display: flex;
        min-width: rem(645px);
        flex-direction: column;
        border-collapse: collapse;
        text-align: center;

    }
    tr {
        border-bottom: 1px solid black;
    }
    td {
        width: rem(150px);
        border-bottom: 1px solid rgba(0, 198, 154, 0.3);
    }
    &-title {
        width: rem(220px);
        background-color: rgba(0, 198, 154, 0.7);
        color: white;
        border-bottom: 1px solid rgba(0, 198, 154, 0.3);
    }
    &-time {
        background-color: rgba(0,178,200,0.7);
        color: white;
        border-bottom: 1px solid rgba(0,178,200,0.3);
    }
    &-caption {
        margin-top: $space-xs;
        text-align: center;
        font-size: $space-m;
        line-height: 1.2rem;
    }
    &--small {
        min-width: 0;

    }

}