.Services {
    &-list {
        display: flex;
        flex-wrap: wrap;
        margin: $space-l 0; 
    }
    &-item {
        flex-basis: 50%;
        text-align: center;
        margin-bottom: $space-m;
        &:nth-last-of-type(-n+2) {
            margin-bottom: 0;
        }
        @include large-screen { 
            flex-basis: 33%;
            margin-bottom: $space-l;
        }
    }

    &-name {
        font-weight: $w6;
    }
    &-img {
        padding-bottom: 40%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: $space-m;
    }
    &-classroom {
        background-image: url('/static/img/classroom.png')
    }
    &-event {
        background-image: url('/static/img/event.png')
    }
    &-photoshoot {
        background-image: url('/static/img/photoshoot.png')
    }
    &-other {
        background-image: url('/static/img/other.png');
        background-size: 50%;
    }
    &-exhibition {
        background-image: url('/static/img/exhibition.png');
    }
    &-meeting {
        background-image: url('/static/img/meeting.png');
    }

}

