.Btn {
	width: 100%;
  	text-align: center;
	&-link {
        display:inline-flex;
        align-items: center;
        padding: $space-xs $space-m;
        border-radius: $space-s;
		color:white;
		background-color: #6A5AFF;
	}
    &--white {
        color: colors-map($colors,green,secondary);
        background-color: white;
      }


}
