.Logo {
    display: block;
    width: em(100px);
    &-img {
        display: flex;
        margin-bottom: 4px;
    }
    &-title {
        font-size: em(10px);
        line-height: em(14px);
        text-align: center;
    }
}
