block config 
    include ../config/variables
<!DOCTYPE html>
html(lang=`${lang_}`)
        head
            include ../config/metas
            block css-include
            link(rel="stylesheet" href='https://file.myfontastic.com/TsjCyXKuNQAFPhexyFWxUc/icons.css')
            link(rel="stylesheet" href="main.css?iumgqi")
            // add here typography icons

        body
            //- include partials/preloader

            block content
        

            block footer
                
            block scripts

            script(src='./bundle.js', async='')
               


