extends templates/template.pug

block content
    header
        navbar.Navbar
            a.Logo(href="/")
                img.Logo-img(src="img/logo.png")
                h1.Logo-title Working Holiday Career Design
            a.Btn-link(href="") 問い合わせ
    main
        
        section.Company.ComponentSeparation.container
            .Company-description
                p WCD《一般社団法人ワーキングホリデーキャリアデザイン協会》は、
                    | ワーキングホリデーを利用した、
                    | まったく新しい​​仕事と生き方へのチャレンジ
                    | をサポートする一般社団法人です。
        section.Target.ComponentSeparation
            .container.Target-container
                .Target-illustration
                    .Target-right
                        .Target-picture.Target--02
                        .Target-picture.Target--03
                    .Target-left
                        .Target-picture.Target--01
                .Target-description
                    span.TopLine.TopLine--separation
                        i.TopLine-line
                    h2.Target-title.t3 こんな方が対象
                    ul.Target-list
                        li.Target-item 
                            i.i-check
                            |  日本のパスポートを持っている方
                        li.Target-item 
                            i.i-check
                            |  単なる観光ではなく”海外生活”を体験したい
                        li.Target-item 
                            i.i-check
                            |  海外にも、いつでも帰れる第二のふるさとを持ちたい
                        li.Target-item 
                            i.i-check
                            |  しっかりとした英語や現場で通用するビジネス英語を身につけたい
        section.Phrase.ComponentSeparation
            h2.t2 Without any cost,
                span.breakResponsive we help you to find a job in Australia!
        section.Stagger.ComponentSeparation
            .Stagger-container
                .Stagger-header
                    span.TopLine.TopLine--separation
                        i.TopLine-line
                    h2.Stagger-title.t3 ワーキングホリデープログラムの内容
                    .Stagger-description
                        p 本プログラムでは、ワーキングホリデーをする際のお仕事や下宿先をご用意させていただいています。
                            span.breakResponsive お仕事については下記のコースがございます。
                ul.Stagger-list
                    li.Stagger-item
                        .Stagger-picture.Stagger--barista
                        p.Stagger-option バリスタ
                    li.Stagger-item
                        .Stagger-picture.Stagger--teacher
                        p.Stagger-option 日本語教師
                    li.Stagger-item
                        .Stagger-picture.Stagger--intern
                        p.Stagger-option ビジネスインターン
                    li.Stagger-item
                        .Stagger-picture.Stagger--massagist
                        p.Stagger-option ナチュラルセラピー、マッサージセラピスト
                p.Stagger-extra.small *その他、特定の職種について希望があればコンサルティングも受け付けます
        
        section.Event.ComponentSeparation.container
            .Event-description
                span.TopLine.TopLine--separation
                    i.TopLine-line
                h3.Event-title.t3 無料説明会
                .Event-info
                    p 日時: ８月４日・５日
                    p １２:００ - １３:００
                    a(href="/") 会場: 自由が丘グリーンホール
                a.Btn-link(href="https://www.facebook.com/events/212577709415588/") 詳細
        section.CTA.ComponentSeparation  
            .container.CTA-body
                p.t2 Don't you want to live overseas?
                .CTA-text 
                    p This is your chance. 
                    p Australia is waiting for you!
                a.Btn-link(href="") 問い合わせ  
        footer.Bottom
            a.Bottom-link(href="https://www.facebook.com/wcd.workingholiday/" target="_blank")
                i.i-facebook
            



            
