.container {
  padding-right: $space-m;
  padding-left: $space-m;
  margin-right: auto;
  margin-left: auto;
  @include medium-screen {
       width: 46.75rem;
  }
  @include large-screen {
      width: 56.875rem;
  }
  // @include extra-large-screen {
  //     width: 73.125rem;
  // }
}
.vessel {
    padding-right: $space-m;
    padding-left: $space-m;
    margin-right: auto;
    margin-left: auto;
    @include large-screen {
        width: 43.75rem;
    }
}
